@charset "UTF-8";

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background: #f1f1f1;
}

header {
  width: 100%;
  height: 1.28rem;
  padding: 0.266667rem 0.266667rem;
  background: #239aff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header form {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 0.066667rem;
}

header form label {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

header form label input {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 0.266667rem;
  font-size: 0.4rem;
}

header form label i {
  width: 0.8rem;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

header form label i img {
  display: block;
  width: 0.453333rem;
  height: 0.426667rem;
}

.content {
  background: #ffffff;
  width: 100%;
}

.content tr {
  border-bottom: solid 0.013333rem #e5e5e5;
}

.content table {
  width: 100%;
  font-size: 0.4rem;
}

.content table tr {
  width: 100%;
  height: 1.133333rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.266667rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.content table td,
.content table th {
  text-align: center;
  height: 1.133333rem;
  line-height: 1.133333rem;
  color: #000000;
}

.content table td {
  color: #333333;
}

.content table .del {
  color: #239aff;
}

.content table .num {
  width: 1.333333rem;
}

.content table .title {
  width: 2.8rem;
}

.content table .exposure {
  width: 2rem;
}

.content table .hit {
  width: 2rem;
}

.content table .handel {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/*上拉加载更多*/

#wrapper {
  position: absolute;
  top: 1.546667rem;
  bottom: 1.293333rem;
}

#scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  padding: 0;
}

/*添加子账户*/

.addChild {
  width: 0.933333rem;
  height: 0.933333rem;
  position: fixed;
  z-index: 999;
  right: 0.266667rem;
  bottom: 4rem;
}

.addChild a {
  display: block;
  width: 100%;
  height: 100%;
}

.addChild a img {
  display: block;
  width: 100%;
  height: 100%;
}