@charset "UTF-8";

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background: #f1f1f1;
}

header {
  width: 100%;
  height: 1.28rem;
  padding: 0.266667rem 1.333333rem;
  background: #239aff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header form {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 0.066667rem;
}

header form label {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

header form label input {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 0.266667rem;
  font-size: 0.4rem;
}

header form label i {
  width: 0.8rem;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

header form label i img {
  display: block;
  width: 0.453333rem;
  height: 0.426667rem;
}

.content {
  background: #ffffff;
  width: 100%;
}

.content tr {
  border-bottom: solid 0.013333rem #e5e5e5;
}

.content table {
  width: 100%;
  font-size: 0.4rem;
}

.content table tr {
  width: 100%;
  height: 1.133333rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.266667rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: height 0.8s;
  transition: height 0.8s;
  overflow: hidden;
}

.content table td,
.content table th {
  text-align: center;
  height: 1.133333rem;
  line-height: 1.133333rem;
  color: #000000;
}

.content table td {
  color: #333333;
}

.content table .del {
  color: #ff5757;
}

.content table .num {
  width: 1.333333rem;
}

.content table .title {
  width: 2.8rem;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content table .exposure {
  width: 2rem;
}

.content table .hit {
  width: 2rem;
}

.content table .handel {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/*上拉加载更多*/

#wrapper {
  position: absolute;
  top: 1.546667rem;
  bottom: 0;
}

#scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  padding: 0;
}

.layui-m-layer0 .layui-m-layerchild {
  width: 6.133333rem !important;
  height: 3.2rem;
  font-size: 20px;
}

.layui-m-layerbtn span {
  font-size: 0.4rem !important;
}

/*删除成功*/

.layui-m-layer0 .layui-m-layermain .loginOk {
  width: 3.2rem;
  height: 1.6rem;
}

.layui-m-layer0 .layui-m-layermain .loginOk .layui-m-layercont {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

/* 保存取消 */

.layui-m-anim-scale .layui-m-layerbtn {
  padding-top: 0.933333rem;
  background: #ffffff;
  border: none;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.layui-m-anim-scale .layui-m-layerbtn span {
  width: 1.28rem;
  height: 0.56rem;
  font-size: 0.346667rem;
  border-radius: 0.106667rem !important;
  color: #ffffff;
  line-height: 0.56rem;
  text-align: center;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.layui-m-anim-scale .layui-m-layerbtn span[no] {
  background: #c2c2c2;
  margin-left: 1.333333rem;
}

.layui-m-anim-scale .layui-m-layerbtn span[yes] {
  background: #239aff;
  color: #ffffff;
  margin-right: 1.333333rem;
}

/*改标题样式*/

.layui-m-layermain .layui-m-layerchild h3 {
  text-align: left;
  font-size: 0.373333rem;
  height: 1.333333rem;
  padding-left: 0.466667rem;
  line-height: 1.333333rem;
  color: #333333;
}

/*输入框*/

.layui-m-layermain .layui-m-layercont {
  padding: 0.266667rem 0.266667rem;
  height: 1.2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.4rem;
  color: #666666;
}

.layui-m-layermain .layui-m-layercont input {
  width: 100%;
  height: 100%;
  font-size: 0.4rem;
  border-bottom: solid 0.013333rem #239aff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}