html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	background: #f1f1f1;
}
.content{
	
	width: 100%;
	overflow: hidden;
	
	ul{
		width: 100%;
		margin-top: 20px;
		transition: height 0.8s;
	}
	li{
		width: 100%;
		height: 85px;
		background: #ffffff;
		box-sizing: border-box;
		padding:0 20px;
		border-top: solid 1px #e5e5e5;
		line-height: 85px;
		font-size: 28px;
		color: #000000;
		display: flex;
		i{
			display: flex;
			flex: 1;
			justify-content: flex-start;
			align-items: center;
		}
		a{
			display: flex;
			flex: 1;
			justify-content: flex-start;
			align-items: center;
		}
		span{
			display: flex;
			flex:1;
			justify-content: flex-end;
			align-items: center;
			color: #666666;
			position: relative;
		}

	}
}
/*更改状态*/

.layui-m-layer0 .layui-m-layersection .chstate {
	input[type="radio"]{
		display: none;
	}
	input[type="radio"]:checked+label i{
		background: url(../img/icon.png) no-repeat 5.5px 5.5px;
		background-size:11px 11px; 

	}
    width: 460px;
    max-width: 640px;
    height: 360px;
    h3{
    	width: 100%;
    	height: 106px;
    	line-height: 106px;
    	box-sizing: border-box;
    	padding-left: 33px;
    	font-size: 28px;
    	color:#333333;
    	text-align: left;
    }
    .layui-m-layercont{
        height: 110px;
    	padding:0 100px 0 100px;
    	label{
    		display: flex;
    		justify-content: space-between;
    		width: 100%;
    		height: 55px;
    		line-height: 55px;
    		font-size: 28px;
    		color: #666666;
    		align-items: center;
    		i{
    			position: relative;
				display: block;
				width: 22px;
				height: 22px;
				border-radius: 50%;
				border:1px solid #666666;/*no*/
				overflow: hidden;
				margin-right: 15px;

    		}
    	}
    }
    
}
/*更改子账号名称,手机号,邮箱*/

.layui-m-layer0 .layui-m-layersection .chname,.layui-m-layer0 .layui-m-layersection .chtel,.layui-m-layer0 .layui-m-layersection .chemail ,.layui-m-layer0 .layui-m-layersection .chpass{
    width: 460px;
    max-width: 640px;
    height: 360px;
    h3{
    	width: 100%;
    	height: 106px;
    	line-height: 106px;
    	box-sizing: border-box;
    	padding-left: 33px;
    	font-size: 28px;
    	color:#333333;
    	text-align: left;
    }
    .layui-m-layercont{
    	padding: 0 60px;
    	width: 100%;
    	height: 100px;
    	box-sizing: border-box;
    	label{
    		display: flex;
    		justify-content: space-between;
    		width: 100%;
    		height: 100px;
    		line-height: 55px;
    		font-size: 28px;
    		color: #666666;
    		align-items: center;
    		input{
    			width: 100%;
    			height: 50px;
    			display: block;
    			margin-top: 20px;
    			border-bottom: 1px solid #239aff;/*no*/
    		}
    		
    	}
    }
    
}



.layui-m-layer0 .layui-m-layermain .layui-m-layerchild{
    width: 460px;
    height: 360px;
}
.layui-m-layerbtn span{
    font-size: 30px!important;
}
/*改标题样式*/
.layui-m-layermain .layui-m-layerchild h3 {
    text-align: left;
    font-size: 28px;
    height: 100px;
    padding-left:35px;
    line-height: 100px;
    color: #333333;
}
/*输入框*/
.layui-m-layermain .layui-m-layercont{
    padding:20px 80px;
    height: 90px;
    box-sizing: border-box;
    font-size: 30px;
    color: #666666;
    input{
        width: 100%;
        height: 100%;
        font-size: 30px;
        border-bottom: solid 1px #239aff;
        box-sizing: border-box;
        
    }
}
/* 保存取消 */
.layui-m-anim-scale .layui-m-layerbtn{
    padding-top: 70px;
    background: #ffffff;
    border:none;
    display: flex!important;
    justify-content: space-between;
    span{
        
        width: 96px;
        height: 42px;
        font-size: 26px;
        border-radius:8px!important;
        color: #ffffff;
        line-height: 42px;
        text-align: center;
        display: flex!important;
        align-items: center;
        justify-content: center;
    }
    span[no] {
        background: #c2c2c2;
        margin-left:100px;
        
    }
    span[yes] {
        background: #239aff;
        color:#ffffff;
        margin-right:100px;
        
    }
}


/*更换密码*/
.layui-m-layermain .setword{
    .layui-m-layerbtn{
        padding-top: 0; 
    }
    .layui-m-layercont{
        padding-top:0; 
        height: 180px;
        input{
            height: 70px;
        }
    }
}
/*提示框*/
.layui-m-layer0 .layui-m-layermain .loginOk{
    width: 460px;
    height: 200px;

    .layui-m-layercont{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        margin: 0;
        padding: 0;
        font-size: 30px;
        line-height: 35px;
    }
}
/*点击确认*/
.sub{
    width: 100%;
    height: 74px;
    padding: 0 130px;
    box-sizing: border-box;
    a{
        
        display: block;
        width: 100%;
        height: 100%;
        background: #239aff;
        line-height: 74px;
        color: #ffffff;
        text-align: center;
        font-size: 28px;
        border-radius: 8px;
        margin-top: 150px;

    }
}
